.Modal {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.16);
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  padding-top: 6px;
}

.Modal .HorizontalScroll {
  padding: 0 4px;
}

.FixedLayoutTop {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  width: 100%;
}

.FixedLayoutTop .List {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
}
